.project
.pydevproject
.coverage
*.csv
*.out
*.pyc
*.pyo
*.bin
*.bak
*~
res/templates/*
.settings/*
examples/*
cf_data/*
build/*
dist/*
cover/*
conda/linux-32/*
conda/linux-64/*
conda/osx-64/*
conda/win-32/*
conda/win-64/*
*.egg-info/*

