--frequency 50.0
--max-segment-length 12 # 12 hours

--threshold 3.0
--peak_checking 5.0
--method ampa

# STA-LTA options
--lta_window 100.0
--sta_window 3.0

# AMPA options
--ampa-window 150.0
--ampa-window-overlap 0.5
--ampa-L 30.0 20.0 15.0 10.0 5.0 2.5
--ampa-L-coef 3.0
--ampa-noise-threshold 90
--ampa-f-start 2.0
--ampa-f-end 14.0
--ampa-bandwidth 3.0
--ampa-overlap 1.0
--ampa-U 12.0

# Takanami options
--takanami
--takanami-margin 4.0

# Synthesis options
--gen-noise-coefficients ~/IAGbfirls.bin
--gen-event-power 5.0
--gen-noise-power 0.0
--gen-low-period 50.0
--gen-high-period 10.0
--gen-bandwidth 4.0
--gen-overlap 1.0
--gen-f-low 2.0
--gen-f-high 18.0
--gen-low-amp 0.2
--gen-high-amp 0.1

