<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ static + '/reset.css' }}">
		<link rel="stylesheet" href="{{ static + '/style.css' }}">
		<script type="text/javascript" src="{{ static + '/sorttable.js' }}"></script>
		<script>
			function openPopup() {
			 var url = this.href;
			 window.open(url, "", "scrollbars,resizable,width=800,height=600");
			 return false;
			}
			function init() {
			    var popups = document.getElementsByClassName("popup");
			    for(var i=0;i<popups.length;i++) {
			        popups[i].onclick=openPopup;
			    }
			}
			window.onload=init;
		</script>
	</head>
	<body>
		<header class="header">
			<div class="content"></div>
		</header>
		<section class="content" id="settings">
			<header class="title">
				<h1>Settings used<h1>
			</header>
			<table class="settings">
				<tr>
					<td class="title-col">General settings:<td>
				</tr>
				<tr>
					<td class="title-col">Analysis method:</td>
					<td class="data-col">{{ command.upper() }}</td>
				</tr>
				<tr>
					<td class="title-col">Signal frequency(Hz):</td>
					<td class="data-col">{{ fs }}</td>
				</tr>
				{% if func.func_name == 'detect' %}
				<tr>
					<td class="title-col">Threshold:</td>
					<td class="data-col">{{ threshold }}</td>
				</tr>
				{% endif %}
				<tr>
					<td class="title-col">Peak Checking(s):</td>
					<td class="data-col">{{ peak_checking }}</td>
				</tr>
				<tr>
					<td class="title-col">Algorithm used:</td>
					<td class="data-col">{{ method.upper() }}</td>
				</tr>
				<tr>
					<td class="title-col">Allow Takanami method:</td>
					<td class="data-col">{{ takanami }}</td>
				</tr>
				{% if takanami %}
				<tr>
					<td class="title-col">Takanami margin(s):</td>
					<td class="data-col">{{ takanami_margin }}</td>
				</tr>
				{% endif %}
			{% if method == 'ampa' %}
				<tr>
					<td class="title-col">AMPA settings:<td>
				</tr>
				<tr>
					<td class="title-col">Window length(s):</td>
					<td class="data-col">{{ window }}</td>
				</tr>
				<tr>
					<td class="title-col">Window overlap:</td>
					<td class="data-col">{{ window_overlap }}</td>
				</tr>
				<tr>
					<td class="title-col">Noise threshold percentile:</td>
					<td class="data-col">{{ noise_thr }}</td>
				</tr>
				<tr>
					<td class="title-col">Length of the filters used(s):</td>
					<td class="data-col">{{ L }}</td>
				</tr>
				<tr>
					<td class="title-col">Negative response coefficient of filter:</td>
					<td class="data-col">{{ L_coef }}</td>
				</tr>
				<tr>
					<td class="title-col">Coefficient U:</td>
					<td class="data-col">{{ U }}</td>
				</tr>
				<tr>
					<td class="title-col">AMPA filter bank settings:<td>
				</tr>
				<tr>
					<td class="title-col">Start frequency(Hz):</td>
					<td class="data-col">{{ f_start }}</td>
				</tr>
				<tr>
					<td class="title-col">End frequency(Hz):</td>
					<td class="data-col">{{ f_end }}</td>
				</tr>
				<tr>
					<td class="title-col">Subband bandwidth(Hz):</td>
					<td class="data-col">{{ bandwidth }}</td>
				</tr>
				<tr>
					<td class="title-col">Subband overlap(Hz):</td>
					<td class="data-col">{{ overlap }}</td>
				</tr>
			{% elif method == 'stalta' %}
				<tr>
					<td class="title-col">STA-LTA settings:<td>
				</tr>
				<tr>
					<td class="title-col">STA window length(s):</td>
					<td class="data-col">{{ sta_window }}</td>
				</tr>
				<tr>
					<td class="title-col">LTA window length(s):</td>
					<td class="data-col">{{ lta_window }}</td>
				</tr>
			{% endif %}
			</table>
		</section>
		<section class="content" id="events">
			<header class="title">
				<h1>Summary of events<h1>
			</header>
			<table class="events sortable">
				<thead>
					<tr>
						<th class="filename-col">File Name</th>
						<th class="time-col">Time(s)</th>
						<th class="cf-val-col">{{ method.upper() }} CF Value</th>
						<th class="graph-col sorttable_nosort">Graph</th>
						{% if takanami %}
						<th class="graph-col sorttable_nosort">Takanami AIC Graph</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
			{% for record in records %}
				{% for event in record.events %}
				<tr>
					<td class="filename-col">{{ record.signal_filename }}</td>
					<td class="time-col">{{ event['time'] / record.fs }}</td>
					<td class="cf-val-col">{{ event['cf_value'] }}</td>
					<td class="graph-col">
						<a href="{{ event['img_filename'] }}" class="thumbnail popup">
							<img alt="Signal graph" src="{{ event['thumb_filename'] }}">
						</a>
					</td>
					{% if takanami %}
					<td class="graph-col">
						<a href="{{ event['img_aic_filename'] }}" class="thumbnail popup">
							<img alt="AIC graph" src="{{ event['thumb_aic_filename'] }}">
						</a>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			{% endfor %}
			{% if n_events == 0 %}
					<tr><td colspan="{{ 5 if takanami else 4 }}" class="empty-col">List is empty</td></tr>
			{% endif %}
				</tbody>
			</table>
		</section>
		<footer class="foot">
			<p>Report generated on {{ time.strftime("%A %B %d, %Y at %H:%M:%S") }}.</p>
		</footer>
	</body>
</html>